<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>J2EE_MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   1. Write a servlet that uses ServletConfig to fetch initialization parameters. -->
  
  <servlet>
  <servlet-name>soham</servlet-name>
  <servlet-class>Assignment_Module8.Leb_tenServletConfig</servlet-class>
  <init-param>
  <param-name>username</param-name>
  <param-value>soham</param-value>
  </init-param>
  <init-param>
  <param-name>password</param-name>
  <param-value>soham123</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>soham</servlet-name>
  <url-pattern>/soham</url-pattern>
  </servlet-mapping> 
  
<!--   1. Create a servlet and configure it in web.xml for deployment -->

<!-- 1. Write a servlet to fetch and display initialization parameters from web.xml using -->
<!-- ServletConfig. -->
  
  <servlet>
  <servlet-name>servlet</servlet-name>
  <servlet-class>Assignment_Module8.Leb_elevenServletxml</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>servlet</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping> 
  
	</web-app>